.list-item{
  margin-top: 10px;
  background-color: #bbb;
  border-radius: 14px;
}
ul{
  list-style-type: none;
}
div.text-div{
  margin-left: 10px;
  margin-top: .5rem;
}
div.button-group{
  margin-bottom: 0 !important;
}
button.favorited {
  background-color: #ff553a !important;
  padding: 12.240px 25px !important;
}
.button-group .button:last-child{
      border-bottom-right-radius: 14px;
}
